$primary-color: #f4978e;

.result__outer {
  .result__header {
    font-size: 3rem;

    @media (max-width: 768px) {
      font-size: 2.5rem;
    }

    @media (max-width: 426px) {
      font-size: 2rem;
    }

    .result__span {
      color: $primary-color;
    }
  }
}

.explanation__outer {
  .explanation__inner {
    .results__outer {
      @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        .image__container {
          width: 80% !important;
          margin-bottom: 20px !important;

          .explanation__header {
            text-align: center !important;
            background-color: #f4978e;
          }
        }

        .feature__value__table {
          width: 85% !important;
        }
      }

      display: flex;
      justify-content: space-between;

      .image__container {
        width: 57.5%;
      }

      .feature__value__table {
        width: 35%;
      }
    }
  }
}
